body {
    background-color: black;
}

#field {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("../img/field.jpg") no-repeat;
}

#messegeArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: blueviolet;
}

table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}

td {
    width: 94px;
    height: 94px;
}

form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background-color: brown;
}

form input {
    background-color: rgb(255, 255, 255);
    border-color: cyan;
    font-size: 1em;
}

.hit {
    background: url("../img/ship.png") no-repeat center center;
}

.miss {
    background: url("../img/miss.png") no-repeat center center;
}